<html ng-app="myApp">
	<head>
		<title> Sample Angular Js Application</title>
		<script type="text/javascript" src="../lib/angular.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>

	<body ng-controller="MainController">
		<!-- using scope functions -->
		<h3>1) Using scope functions</h3>
		{{sayHello('Jeffin')}}

		<!-- executing scope methods -->
		<h3>2) Executing scope methods</h3>
		<p>
			<input type="text" ng-model="itemIndex"> 
			<!-- <input type="button" value="Get Item" ng-click="getItem()"> -->
		</p>
		<p>Current item : {{ currentItem }}</p>

		<!-- working with bracketted expressions-->
		<p>Standard bracket exp : {{ randomValue }}</p>
		<p>One time bracket exp : {{ ::randomValue }}</p>
		<p>Array bracket exp : {{ scopeArr[1] }}</p>
		<p>Operation bracket exp : {{ qty * cost }}</p>
		<p>Greater than 500,000? : {{ randomValue > 500000 }}</p>
		<p>Enter width : <input type="text" ng-model="pWidth"></p>
		<p style="width:{{pWidth}}px;">
		This is a dynamic paragraph!
		</p>

		<!-- examining dot notation (solving scope hierarchy problem:
			change to parent scope name var will reflect in child scope name var. But if child scope name var is changed this binding will be broken and change to parent scope name var will not change the child scope name var. To solve this we store name var in scope object 'modelObj' instead of storing it in primitives.
		) 
		-->
		<h3>3) Solving scope hierarchy problem</h3>
		<div ng-controller="ParentController">
			<input type="text" ng-model="modelObj.name">
			<p>Parent Controller : The name is {{ modelObj.name }}</p>
			<div ng-controller="ChildController">
				<input type="text" ng-model="modelObj.name">
				<p>Child Controller : The name is {{ modelObj.name }}</p>
			</div>
		</div>

		<!-- using mutiple views for same controller-->
		<h3>4) Using mutiple views for same controller</h3>
		<div ng-controller="ParentController">
			<input type="text" ng-model="modelObj.name">
			<p>Second Parent Controller : The name is {{ modelObj.name }}</p>
		</div>

		<!-- using same name scope var for a different controller -->
		<h3>5) Using same name scope var for a different controller</h3>
		<div ng-controller="AnotherController">
			<input type="text" ng-model="modelObj.name">
			<p>Another Controller : The name is {{ modelObj.name }}</p>
		</div>

		<!-- Sharing data between multiple controllers -->
		<h3>6) Sharing data between multiple controllers</h3>
		<div ng-controller="FirstController">
			<input type="text" ng-model="modelObj.name">
			<p>First Controller : The name is {{ modelObj.name }}</p>
		</div>
		<div ng-controller="SecondController">
			<input type="text" ng-model="modelObj.name">
			<p>Second Controller : The name is {{ modelObj.name }}</p>
		</div>

		<!-- Using Controller as syntax -->
		<h3>7) Using Controller as syntax</h3>
		<div ng-controller="ControllerParent as parent">
			<p>Parent Controller Message : {{ parent.message }}</p>
			<div ng-controller="FirstChild as first">
				<p>Parent Controller Message : {{ parent.message }}</p>
				<p>First Child Message : {{ first.message }}</p>
			</div>
			<div ng-controller="SecondChild as second">
				<p>Parent Controller Message : {{ parent.message }}</p>
				<p>Second Child Message : {{ second.message }}</p>
				<p>Watched Random Value : {{ second.value }}</p>
			</div>
		</div>

		<!-- Using Display Filters -->
		<h3>8) Using Display Filters</h3>
		<div ng-controller='DisplayFilterSample as displayfiltersample'>
			<p>First Name : {{displayfiltersample.user.firstName | uppercase }}</p>
			<p>Last Name : {{displayfiltersample.user.lastName | uppercase }}</p>
			<p>Account Type : {{displayfiltersample.user.accountType | lowercase }}</p>
			<p>Balance : {{displayfiltersample.user.balance | currency: 'USD $':2 }}</p>
		</div>

		<!-- Creating custom display filters -->
		<h3>9) Creating custom display filters</h3>
		<div ng-controller='DisplayFilterSample as displayfiltersample'>
			<p>First Name : {{displayfiltersample.user.firstName + ' ' + displayfiltersample.user.lastName | capitalize }}</p>
		</div>

		<!-- Using orderBy and limitTo filters -->
		<h3>10) Using orderBy and limitTo filters</h3>
		<div ng-controller='OrderByAndLimitToFilters as orderByAndLimitToFilters'>
			<ul ng-repeat="user in orderByAndLimitToFilters.userArr | orderBy: '-balance' | limitTo:2:1">
				<li> Name: {{ user.firstName + ' ' + user.lastName }}</li>
				<li> Account Type: {{ user.accountType }}</li>
				<li> Balance: {{ user.balance }}</li>
			</ul>
		</div>

		<!-- Using number and json filters -->
		<h3>11) Using number and json filters</h3>
		<div ng-controller='NumberAndJsonFilters as numberAndJsonFilters'>
			<p>{{ 1256366.73773 | number: 3}}</p>
			<p>{{ numberAndJsonFilters.userComplexObj | json}}</p>
		</div>

		<!-- Using date filters -->
		<h3>12) Using date filters</h3>
		<div ng-controller='DateFilters as dateFilters'>
			<p>{{ dateFilters.currDate | date: 'shortDate'}}</p>
		</div>

		<!-- Examining user text input -->
		<h3>13) Examining user text input</h3>
		<div ng-controller='UserTextInput as userTextInput'>
			<p>Name: {{ userTextInput.user.name }}</p>
			<p>Fav Fruit: {{ userTextInput.user.favoriteFruit }}</p>
			<p>Is Active?: {{ userTextInput.user.isActive | yesorno }}</p>

			<hr/>

			<p>Enter name:</p>
			<p><input type="text" ng-model="userTextInput.user.name"></p>

			<p>Select favorite fruit:</p>
			<p><select ng-model="userTextInput.user.favoriteFruit" ng-options="fruit for fruit in userTextInput.fruitList"></select></p>

			<p>Select active:</p>
			<p><input type="checkbox" ng-model="userTextInput.user.isActive"> Is Active</p>

			<p>Alternate select active:</p>
			<p>
				<input type="radio" ng-model="userTextInput.user.isActive" ng-value="true"> Yes
				<input type="radio" ng-model="userTextInput.user.isActive" ng-value="false"> No
			</p>
		</div>
	</body>
</html>